.env
.venv/
files/
extracted_links_per_volume.json
venv/
*.json
.*
*.xlsx
*.png
extracted_github_links_all_acls_merged_llm_extractions.csv
regex_extracted_github_links_all_acls.csv
extracted_github_links_all_acls.csv
papers_to_check/*
__pycache__/*
EACL/*
prep_for_agentic_review.py 
test_new_extraction_script.py 
acl_2025_links.csv
papers_with_empty_or_unreadachable_repo_merged_with_llm_extractions_manual_check_with_new_script_extractions.csv
*.png
*.ipynb
*.logextracted_links/acls/merged/*.csv
to_check/*
*csv
analysis/*
*.log